<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/element.css"/>
    <script src="../../../static/js/vue@3.js"></script>
    <script src="../../../static/js/element-plus.js"></script>
    <script src="../../../static/js/axios.min.js"></script>
    <script src="../../../global.js"></script>

    <style>
        .container {
            display: flex;
        }
        .table {
            width: 70%;
        }
        .form {
            width: 25%;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="table">
                <el-table :data="users">

                    <el-table-column fixed prop="username" label="用户名" width="100"></el-table-column>
                    <el-table-column prop="password" label="密码" width="100"></el-table-column>
                    <el-table-column prop="phone" label="电话" width="130"></el-table-column>
                    <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
                    <el-table-column prop="avatar" label="头像" width="80">
                        <template #default="{row}">
                            <img v-if="row.avatar" :src="row.avatar" style="width: 50px; height: 50px;">
                            <span v-else>无</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="createdAt" label="创建时间" width="150"></el-table-column>
                    <el-table-column prop="updatedAt" label="更新时间" width="150"></el-table-column>
                    <el-table-column label="操作" fixed="right" #default="{row}" width="150">
                        <el-button type="success" size="small" @click="handleEdit(row)">编辑</el-button>
                        <el-button type="success" size="small" @click="handleDelete(row)">删除</el-button>
                    </el-table-column>
                  </el-table>
            </div>
            <div class="form">
                <el-form ref="userForm" :model="userForm" label-width="100px">
                    <el-form-item label="ID">
                        <el-input v-model="userForm.id"></el-input>
                    </el-form-item>
                    <el-form-item label="用户名">
                        <el-input v-model="userForm.username"></el-input>
                    </el-form-item>
                    <el-form-item label="密码">
                        <el-input v-model="userForm.password"></el-input>
                    </el-form-item>
                    <el-form-item label="电话">
                        <el-input v-model="userForm.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱">
                        <el-input v-model="userForm.email"></el-input>
                    </el-form-item>
                    <el-form-item label="头像">
                        <el-input v-model="userForm.avatar"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="this.userForm=[]">取 消</el-button>
                        <el-button type="primary" @click="updateUser">确 定</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>


    </div>

    <script>
        const App = {
            data() {
                return {
                    users: [],
                    userForm: {},
                }
            },
            mounted() {  
                // 禁止直接跳转
                const token = localStorage.getItem('token');
                if(token==='null' || token === null){
                    window.location.href='../../login/index.html';
                }
                axios.get(window.uri+'/user',{
                    headers: {
                        'Authorization': `${token}`
                    }
                })
                .then(res => {
                    this.users = res.data.data
                    console.log(res.data.data)
                })
            },
            methods: {
                handleEdit(row) {
                    console.log(row.username)
                    // 在这里实现编辑逻辑
                    // 弹出编辑框，并设置表单数据
                    this.userForm = row;
                },
                async updateUser() {
                    console.log("!!!")
                    const token = localStorage.getItem('token');
                    console.log(this.userForm)
                    axios.post(window.uri+'/user', this.userForm, {
                        headers: {
                          'Content-Type': 'application/json',
                          'Authorization': `${token}`
                        }})
                    .then(res => {
                        if(res.data.code == 200){
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                        }else{
                            this.$message({
                                message: res.data.message,
                                type: 'error'
                            });
                        }                        
                    })
                }

            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);

        app.mount("#app")
    </script>
</body>
</html>
