<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/element.css"/>
    <script src="../../static/js/vue@3.js"></script>
    <script src="../../static/js/element-plus.js"></script>
    <script src="../../static/js/axios.min.js"></script>
    <script src="../../global.js"></script>
    <link rel="stylesheet" href="index.css">

</head>
<body>

    <div id="app">
        <el-form :model="form" ref="form" :rules="rules" label-width="80px" class="login">
            <el-form-item label="账号" prop="username">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="form.password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="login">登录</el-button>
                <el-button type="primary" @click="register" disabled>注册</el-button>
            </el-form-item>
        </el-form>
    </div>

    

    <script>
        const App = {
            data() {
                return {
                    form: {
                        username: '',
                        password: ''
                    },
                    rules: {
                        username: [
                            { required: true, message: 'Please input username', trigger: 'blur' }
                        ],
                        password: [
                            { required: true, message: 'Please input password', trigger: 'blur' }
                        ]
                    }
                }
            },
            methods: {
              // OPTIONS请求和POST请求都被发送的原因是由于浏览器实施的同源策略。该策略限制了网页向不同于提供网页的域名发出请求。
              // 当POST请求发送到“http://127.0.0.1/login”时，浏览器首先向同一URL发送OPTIONS请求，以检查服务器是否允许跨域请求。
              // 这被称为预检请求。服务器响应允许的HTTP方法、标头和其他信息。如果服务器允许请求，则浏览器随后发送实际的POST请求。
                login() {
                    axios.post(window.uri+'/login', this.form)
                        .then(response => {
                            localStorage.setItem("token",response.data.data);
                            if(response.data.code == 200){
                                this.$message({
                                    message: response.data.message,
                                    type: 'success'
                                });
                                window.location.href = "../../index.html";
                            }else{
                                this.$message({
                                    message: response.data.message,
                                    type: 'error'
                                });
                            }
                        })
                        .catch(error => {
                            this.$message({
                                message: error.response.data.message,
                                type: 'error'
                            });
                        });
                },       
                register() {
                    axios.post(window.uri+'/register', this.form)
                        .then(response => {
                            this.$message({
                                message: response.data.message,
                                type: 'success'
                            });
                        })
                        .catch(error => {
                            this.$message({
                                message: error.response.data.message,
                                type: 'error'
                            });
                        });
                }
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app")
    </script>



</body>
</html>